body{
	background-color: black;
	text-align: center;
	align-content: center;


}
h1{
	font-family:Verdana;
	font-weight: normal;
	font-size: 50px;
	color:white;
	position: centered;
}
h2{
	font-family:Verdana;
	font-weight:300;
	font-size: 42px;
	color:white;
}
